#app {
    background-color: rosybrown;
    border-width: 5px;
    border-style: solid;
    display: flex;
    width: 75%;
    height: 75%;
    margin: 0 auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
  }
  
  #dice {
    background-color: white;
    margin: 10px;
    width: 186px;
    height: 186px;
    border-style: solid;
    font-size: 13rem;
    font-weight: bold;
    text-align: center;
    padding-top: 5px;
    color: black;
  }
  
  #previous {
    background-color: white;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    height: 186px;
    width: 186px;
    border-style: solid;
    font-size: 20px;
    align-content: flex-start;
  }
  
  .diceh1 {
    text-align: center;    
    font-family: "Fredoka One", cursive;
    font-size: 80px;
    color: black;
  }
  
  .eachlast {
    width: 25px;
    height: 25px;
    background-color: cadetblue;
    text-align: center;
    padding: 2px;
    margin: 1px;
    font-weight: bold;
    color: white;
    font-size: 24px;
  }
  
  table {
    background-color: white;
    border-collapse: collapse;
    margin: 10px;
  }
  
  th, td {
    border-style: solid;
    text-align: center;
    vertical-align: center;
    width: 40px;
  }

  .tooltip {
    position: relative;
    display: inline-block;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size: medium;
    text-decoration: none;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 10;
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
  }