select {
    font-size: 80px;
}

#mlbutton {
    font-size: 50px;
    width: 80%;
    font-family: "Fredoka One", cursive;
}

.selectall {
    margin-left: 10%;
}

.mlh1 {
    font-family: "Fredoka One", cursive;
}