select {
  font-size: 80px;
}

#mlbutton {
  font-size: 70px;
  border-style: none;
  margin-left: 130px;
  margin-top: 120px;
  transform: rotate(-9deg);
  background-color: white;
}

.selectall {
  margin-left: 10px;
}

.mlh1 {
  font-family: "Fredoka One", cursive;
}

.storyText {
    position:absolute;
  border-style: solid;
  border-color: white;
  height: 450px;
  width: 650px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("https://www.pngitem.com/pimgs/m/214-2145632_open-clip-art-transparent-blank-open-book-clipart.png");
}

.innerStoryText {
  border-style: solid;
  position:absolute;
  margin-left: 45px;
  margin-top: 65px;
  width: 200px;
  height: 240px;
  transform: rotate(-9deg);
  padding: 5px;
  overflow: scroll;
  text-decoration: none;
  border-color: white;
}

#storybutton {
    height: 20px;
    width: 150px;
    margin: 0 auto;
    padding: 0px;
    margin-left: 20px;
    font-family: 'Josefin Sans', sans-serif;
    border-width: 1px;
    background-color: lightpink;
    /* transform: rotate(-5deg); */
}