.page-container {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    color: black;
  }
  
  /* ---HEADER--- */
  
  .plh1 {
    font-family: "Fredoka One", cursive;
    font-size: 4rem;
    color: black;
    margin: 1rem;
  }
  
  .pig-image {
    width: 10rem
  }
  
  /* ---BODY--- */
  
  button {
    border-radius: 0.9rem;
    margin: 1rem;
    padding: 1rem;
  }
  
  .body-container {
    padding-bottom: 3rem;
  }
  
  .page-container {
    min-height: 100vh;
    position: relative;
  }
  
  .input-section {
    background-color: rgb(243, 164, 175);
    border-radius: .5rem;
    color: #fff;
    margin: 1rem;
    padding: 1rem;
    border-style: solid;
    border-color: black;

  }
  
  .user-input {
    border-radius: .5rem;
    font-size: 1rem;
    height: 3rem;
    width: 75%;
    background-color: white;
  }
  
  /* ---FOOTER--- */
  
  footer {
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 3rem;
  }
  
  @media only screen and (max-width: 650px) {
    h1 {
      font-size: 3rem;
    }
    .user-input {
      font-size: 1rem;
      height: 5rem;
      padding: 1rem;
      text-align: center;
      width: 90%;
  
    }
  }
  
  .h4pig {
  background-color: black;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  width: 50%;
  text-align: center;
  margin: 0 auto;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  }
  
  .output {
    border-style: solid;
    background-color: white;
    border-radius: .5rem;
    margin: 1rem;
    padding: 1rem;
    font-size: 2rem;
  }

  textarea {
    resize: none;
  }